/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

h1, h2, h3, h4, h5, p, a, button, label {
    font-family: 'Oswald', sans-serif;
    color: #F6E3C5;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 5rem;
}

h3 {
    font-size: 4rem;
}

h4 {
    font-size: 3rem;
}

h5 {
    font-size: 2rem;
}

.textcharcoal {
    color: #070d0d;
    font-weight: bold;
}

.textbleu {
    color: #4CACBC;
}

/* Modifications de classes boostrap */

.navbar-light {
    font-size: 1.5rem;
}

.row {
    min-height: auto;
  }

/* Backgrounds */

.bg {
    background-color: #F6E3C5;
}

.bgnav {
    background-color: #6CC4A1;
}

.bgcard {
    background-color: #4CACBC;
}

/* Boutons */

.btn-jaune {
    background-color: #161853;
    color: #6CC4A1;
    font-size: 1.2rem;
}

.btn-vert {
    background-color: #6CC4A1;
    color: #161853;
    font-size: 1.2rem;
}

/* Hauteurs */

html {
    height: 100%;
  }
  body {
    min-height: 100%;
  }